<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale =1.0">
  <link rel="stylesheet" href="style.css">
  <title>Home Page</title>
  </head>
  
	<center><h1><legend style="color:black;top:40px;font-family:cursive; font-size:30pt">
           Fashion Recommender System</legend></h1></center>
        <div style="position:fixed; top:100px; left:620px"></div>
<!--<style>
	.top-right
	{
 position: absolute;
  top: 65px;
  left: 30px;
  color: black;
  font-family: cursive;
  font-size: 25pt;

	}

</style>


</head>
<body>
<div style="position:absolute;top:70px;left: 0px;height: auto;width: 500px;">
	<div class="top-right">INPUT IMAGE</div>
<img src="F:\fashion\static\1.jpg" width="500" height="auto">
<div style="position:absolute;top:500px;left:70px;">
<form action="upload.php" method="post" enctype="multipart/form-data">
  <input type="submit" value="Upload Here" name="submit">
</form>
 </div>	


<div style="position:absolute;top:80px;left:600px;height: auto;width:500px">
<img src="F:\fashion\static\2.jpg" width="500" height="auto">	
</div>

<div style="position:absolute;top:600px;left:0px;height: auto;width:500px">
<img src="F:\fashion\static\3.jpg" width="500" height="auto">	
</div>
<div style="position: absolute;top:600px;left:600px;height: auto;width:500px">
<img src="F:\fashion\static\4.jpg" width="500" height="auto">	
</div>
<div style="position:absolute;top:1100px;left:0px;height: auto;width:500px">
<img src="F:\fashion\static\5.jpg" width="500" height="auto">	
</div>
<div style="position:absolute;top:1100px;left:600px;height: auto;width:500px">
<img src="F:\fashion\static\1.jpg" width="500" height="auto">	
</div> -->
<body>
<input type="file" id="image_input">
<div id="display_image"></div>

<script src="script.js"></script>



</body>
</html>

























</body>
</html>